<a href="https://colab.research.google.com/github/Sam-415/Marketing-research-methods---Samhita_-Jio-Institute/blob/new-branch-name/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Simple Addition Program

# Function to perform addition
def add_numbers(a, b):
    return a + b

# Input from the user
num1 = float(input("Enter the first number: "))
num2 = float(input("Enter the second number: "))

# Perform addition
result = add_numbers(num1, num2)

# Display the result
print(f"The sum of {num1} and {num2} is: {result}")

Enter the first number: 1
Enter the second number: 2
The sum of 1.0 and 2.0 is: 3.0

In [ ]:
import pandas as pd
import statsmodels.api as sm
from statsmodels.formula.api import ols
from statsmodels.stats.anova import anova_lm

# Creating the dataset
data = {
    "Purchase_likelihood": [7, 6, 5, 6, 7, 6, 5, 6, 5, 4, 6, 5, 5],
    "Condition": ["Fee-high discount"] * 13  # All observations have the same condition
}
df = pd.DataFrame(data)

# Since all data is from the same condition, we cannot run ANOVA meaningfully.
# We need at least two groups in the Condition variable.
# Adding another condition for demonstration purposes.
# Uncomment below lines if you want to add a second condition for comparison.
# df_extra = pd.DataFrame({
#     "Purchase_likelihood": [8, 7, 6, 7, 8, 7, 6, 7, 6, 5, 7, 6, 6],
#     "Condition": ["Fee-low discount"] * 13
# })
# df = pd.concat([df, df_extra], ignore_index=True)

# Ensure Condition is a categorical variable
df["Condition"] = df["Condition"].astype("category")

# Fit the ANOVA model
model = ols("Purchase_likelihood ~ C(Condition)", data=df).fit()

# Perform ANOVA
anova_results = anova_lm(model)
print(anova_results)

                df    sum_sq  mean_sq   F  PR(>F)
C(Condition)   0.0  0.000000      NaN NaN     NaN
Residual      12.0  9.076923  0.75641 NaN     NaN

In [ ]:
# Import required libraries
import pandas as pd
import numpy as np
import statsmodels.api as sm
from sklearn.model_selection import train_test_split

# Load the dataset
file_path = '/content/_autos - regression.xlsx'

# Read the dataset
df = pd.read_excel(file_path)

# Display the first few rows
print("Dataset Head:")
print(df.head())

# Handle empty or blank cells
# Replace blank cells with NaN, then drop rows with missing 'Price'
df.dropna(inplace=True)
df.dropna(subset=['price'], inplace=True)

# Define dependent and independent variables
X = df.drop(columns=['price'])  # Independent variables
y = df['price']  # Dependent variable

# Convert categorical variables to dummy/indicator variables
X = pd.get_dummies(X, drop_first=True)

# Add a constant term to the model (intercept)
X = sm.add_constant(X)

# Split the data into training and testing sets (optional)
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Fit the regression model
model = sm.OLS(y_train, X_train).fit()

# Print model summary
print(model.summary())

# Predict on the test set (optional)
y_pred = model.predict(X_test)

# Evaluate the model (optional)
from sklearn.metrics import mean_squared_error, r2_score
mse = mean_squared_error(y_test, y_pred)
r2 = r2_score(y_test, y_pred)

print("\nModel Evaluation:")
print(f"Mean Squared Error: {mse}")
print(f"R-squared: {r2}")

Dataset Head:
   index         dateCrawled                            name  seller  \
0      0 2016-03-24 11:52:00                      Golf_3_1.6  privat
1      1 2016-03-24 10:58:00            A5_Sportback_2.7_Tdi  privat
2      2 2016-03-14 12:52:00  Jeep_Grand_Cherokee_"Overland"  privat
3      3 2016-03-17 16:54:00              GOLF_4_1_4__3TÃœRER  privat
4      4 2016-03-31 17:25:00  Skoda_Fabia_1.4_TDI_PD_Classic  privat

  offerType  price abtest vehicleType  yearOfRegistration    gearbox  ...  \
0   Angebot    480   test         NaN                1993    manuell  ...
1   Angebot  18300   test       coupe                2011    manuell  ...
2   Angebot   9800   test         suv                2004  automatik  ...
3   Angebot   1500   test  kleinwagen                2001    manuell  ...
4   Angebot   3600   test  kleinwagen                2008    manuell  ...

   model kilometer  monthOfRegistration  fuelType       brand  \
0   golf    150000                    0    benzin  volkswagen
1    NaN    125000                    5    diesel        audi
2  grand    125000                    8    diesel        jeep
3   golf    150000                    6    benzin  volkswagen
4  fabia     90000                    7    diesel       skoda

  notRepairedDamage dateCreated nrOfPictures  postalCode            lastSeen
0               NaN  2016-03-24            0       70435 2016-04-07 03:16:00
1                ja  2016-03-24            0       66954 2016-04-07 01:46:00
2               NaN  2016-03-14            0       90480 2016-04-05 12:47:00
3              nein  2016-03-17            0       91074 2016-03-17 17:40:00
4              nein  2016-03-31            0       60437 2016-04-06 10:17:00

[5 rows x 21 columns]